@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    margin: 0;
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%;
    text-align: center;
}

h2 {
    color: #ff6347;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="submit"], input[type="reset"] button[type="submit"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"],  {
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #ff6347;
    background-image: linear-gradient(to right, #ff6347, #ff4500);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #ff4500;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

textarea {
    border: 1px solid #ccc;
    resize: vertical;
    height: 100px;
}