@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    margin: 0;
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%;
    text-align: center;
}

h2 {
    color: #ff6347;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.custom-file-upload:hover {
    background-color: #ff4500;
}

.custom-file-upload input[type="file"] {
    display: none;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px; 
}

input[type="text"], input[type="submit"], input[type="reset"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box; 
}

input[type="text"] {
    border: 1px solid #ccc;
}

textarea {
    border: 1px solid #ccc;
    resize: vertical;
    height: 100px; 
}

input[type="submit"] {
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #ff4500;
}

input[type="reset"]{
    background-color: #baecf7;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button{
    background-color: #baf7d7;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
}

button:hover{
    background-color: #62df87;
}

input[type="reset"]:hover {
    background-color: #dae9ec;
}

.drop-area {
    border: 2px dashed #ff6347;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #fff4e6;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.drop-area.dragover {
    background-color: #ffe0cc;
}

.preview {
    margin-top: 20px;
}

.preview img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}